body {
    background-color: black;
}
*   {
    -ms-touch-action: manipulation; /* IE10  */
    touch-action: manipulation;     /* IE11+ */
}
.backgroundlayer {
    background:rgba(40, 40, 40, 0.7);
    position: fixed;
    top: 200px;
    width: 101%;
    -moz-box-shadow: 0px 0px 20px rgba(20,255,255, .6);
    -webkit-box-shadow: 0px 0px 20px rgba(20,255,255, .6);
    box-shadow: 0px 0px 20px rgba(20,255,255, .6);
    margin-left: -10px;
}

#beat-bar{
    width:100%;
    height:20px;
    position: relative;
    top: 50px;
}

#id {
    position: absolute;
}

#sp {
    text-align: center;
    position: relative;
    margin: 30px 0px 30px 0px;
}

hr {
    border: 0;
    height: 1px;
    width: 800px;
    background-image: -webkit-linear-gradient(left, rgba(110, 0, 0, 0), rgba(110, 0, 0 ,0.75), rgba(110, 0, 0, 0));
    background-image:    -moz-linear-gradient(left, rgba(110, 0, 0, 0), rgba(110, 0, 0, 0.75), rgba(110, 0, 0, 0));
    background-image:     -ms-linear-gradient(left, rgba(110, 0, 0, 0), rgba(110, 0, 0, 0.75), rgba(110, 0, 0, 0));
    background-image:      -o-linear-gradient(left, rgba(110, 0, 0, 0), rgba(110, 0, 0, 0.75), rgba(110, 0, 0, 0));
    margin: 3px 0px 3px 0px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    bottom: 2px;
}

p {
    text-align: center;
    margin-top: 0px;
    color: gray;
    font-size: 24px;
    font-family: 'Dosis', sans-serif;
    font-weight: 200;
}
.background p a.coming:hover {
    color: gray;
}
.background p a.coming:hover span.coming-soon-left, .background p a.coming:hover span.coming-soon-right {
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    opacity: 1;
}
.strikethrough {
    text-decoration: line-through;
}
.coming-soon-left, .coming-soon-right {
    /*display: none;*/
    font-size: 12px;
    color: gray;
    opacity: 0;
}

footer p {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    margin: 0 auto;
    font-size: 15px;
}
a:visited, a:active, a:link {
    color: gray;
    text-decoration: none;
}
a:hover {
    color: #CC0000;
}

.btn {
    width: 5px;
    height: 5px;
    padding:20px 20px 20px 20px;
    text-decoration:none;
    text-align:center;
    color:#7f8c8d;
    cursor:pointer;
    background:#2c3e50;
    border:3px solid #34495e;
    transition-property:border .2s linear 0s;
    -moz-transition:border .2s linear 0s;
    -webkit-transition:border .2s linear 0s;
    -o-transition:border .2s linear 0s;
    font-size:25px;
}

.btn:hover {
    border:3px solid gray;
}
.btn.active {
    border:3px solid #00CC00;
    color:#00CC00;
}

    .button-group-navigation li {
        display:inline-block;
        list-style:none;
        padding:0;
        margin:0;
        zoom:1;
        background:#7f8c8d;
    }
    .button-group-navigation li .btn {
        float:left;
        margin-left:-4px;
    }

    .button-group-navigation>.btn:first-child,.button-group-navigation li:first-child .btn {
        margin-left:0;
      -webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    }
    .button-group-navigation>.btn:last-child,.button-group-navigation li:last-child>.btn {
        margin-right: 0;
      -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    }